
<div class="col-12 mx-auto ">
    <div class="row">
        <div class="col-4 mt-5 c">
            <img src="/static/img/icons/Logo-del-sena-Verde-300x300-1.jpg" class="imgnav1" alt="SENA" />
        </div>
        <div class="col-4 c">
            <hr class="mt-5">
            <div class="col-11 mx-auto mt-5 c">
                <div class="col-12 mx-auto mb-5 c">
                    <h1>EVALUACION DE INSTRUCTORES.</h1>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-4 mt-5 c">
            <img src="/static/img/icons/Logo Colombia potencia de la vida.png" class="imgnav2 mt-5" alt="SENA" />
        </div>
    </div>
</div>
<hr>